.nav {
    list-style: none;

    padding-left: 0%;

    width: 50%;

    margin: auto;

    text-align: center;

}

.nav>li {
    border-style: ridge;
    border-radius: 10px;

    display: inline-block;
    background-color: rgb(255, 255, 255);

    
}

.shrek {
    text-align: center; background-color: aquamarine;
    font-size: 200%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
}



.cole {
    font-size: 200%;
    font-style: italic;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.money {
    width: 20%;
    display: block; margin: auto;
}

.morning{
    font-size: 500%; text-align: center;
    font-style: italic; font-family: cursive;

}
 

.can {
    background-color: lightblue;
    font-size: 200%;
    font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}